// globals.scss
@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');

body {
  background-image: url('https://img.freepik.com/free-photo/pink-flowers-green-leaves-white-surface_23-2147601157.jpg?w=1800&t=st=1711029380~exp=1711029980~hmac=9bb2d5e60a21efe610acf7ebc4f89ba24dca7c3c110dffcfb51f88f8d55a7d44');
  color: #333; // 기본 텍스트 색상
  width: 100vw;
  height: 100vh;
}

.rootDiv {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    text-align: center;
  }
}

.mainWidgets {
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(181, 193, 170, 0.5); // 투명도 0.5로 변경
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.aboutWidgets {
  width: 50vw;
  height: 72vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  // align-items: center;
  background-color: rgba(181, 193, 170, 0.894); // 투명도 0.5로 변경
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-x: hidden;

  hr {
    width: 100%;
    background-color: #333;
  }
}

.maindiv {
  background-color: white;
  width: 20vw;
  height: 10vh;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px; // 모서리 둥글게
  transition: background-color 0.3s; // 배경색 변경 시 부드러운 전환 효과

  &:hover {
    background-color: rgba(208, 208, 208, 0.749); // 마우스 호버 시 배경색 변경
  }
}

.infowidgets {
  width: 50vw;
  height: 45vh;
  display: flex;
  justify-content: space-around;
}
.profileImg {
  width: 15vw;
  height: 25vw;
  background-color: #333;
  background-image: url('https://stellatalk.s3.ap-northeast-2.amazonaws.com/image/KakaoTalk_Photo_2024-02-25-21-38-35.jpeg');
  background-size: cover;
  background-position: center;
}

.info {
  width: 30vw;
  height: 20vw;
  font: 1.1rem 'Hi Melody';
  font-weight: bold;

  li {
    margin-bottom: 1rem;
  }

  span {
    color: blue;
  }
}

.career {
  width: 50vw;
  height: 10vw;
  font: 1.1rem 'gaegu';
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

a {
  color: #aaa;
  text-decoration: none;

  &:hover {
    color: #333;
  }
}

.active {
  color: #333;
  font-weight: bold;
}
